In [1]:
import numpy as np

In [3]:
a1=np.array([1,2,3,4])
a1

array([1, 2, 3, 4])

In [4]:
a2=np.array([[1,2,3],[4,5,6]])
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [7]:
a3=np.array([
             [[1,2,3],[4,5,6]],
             [[7,8,9],[10,11,12]]
             ])
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [10]:
a1.dtype,a2.dtype,a3.dtype

(dtype('int32'), dtype('int32'), dtype('int32'))

In [12]:
a1.shape,a2.shape,a3.shape

((4,), (2, 3), (2, 2, 3))

In [13]:
a1.ndim,a2.ndim,a3.ndim

(1, 2, 3)

In [14]:
type(a1),type(a2),type(3)

(numpy.ndarray, numpy.ndarray, int)

In [17]:
import pandas as pd
df=pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  4  5  6

practics

In [4]:
one_d_array=np.array([1,2,3])

In [5]:
one_d_array

array([1, 2, 3])

In [6]:
two_d_array=np.array([[1,1,1],[2,2,2]])
two_d_array

array([[1, 1, 1],
       [2, 2, 2]])

In [11]:
n_d_array=np.array([
    [
        [1,1,1],
        [2,3,4] 
    ],
    [
        ["khan",3.4,3],
        [4,4,4]
    ]
    
])
n_d_array

array([[['1', '1', '1'],
        ['2', '3', '4']],

       [['khan', '3.4', '3'],
        ['4', '4', '4']]], dtype='<U32')

In [12]:
n_d_array.dtype

dtype('<U32')

In [13]:
n_d_array.shape

(2, 2, 3)

In [14]:
len(n_d_array)

2

In [15]:
type(n_d_array)

numpy.ndarray

##second lecture

In [24]:
ones=np.ones(5)
ones

array([1., 1., 1., 1., 1.])

In [25]:
ones=np.ones(5,dtype=int)
ones

array([1, 1, 1, 1, 1])

In [29]:
ones=np.ones((5,2))
ones

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [30]:
ones=np.ones((5,2),dtype=int)
ones

array([[1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1]])

In [32]:
zero=np.zeros((2,2))
zero

array([[0., 0.],
       [0., 0.]])

In [34]:
zero=np.zeros((2,2),dtype=int)
zero

array([[0, 0],
       [0, 0]])

In [35]:
zero.dtype

dtype('int32')

In [40]:
zero.shape,len(zero),zero.size

((2, 2), 2, 4)

In [44]:
range_array=np.arange(0,10,2) #start, end, stepover
range_array

array([0, 2, 4, 6, 8])

array1=np.random.randint(2,5,size=(3,3))
array1

In [69]:
array2=np.random.random((1,2))
array2

array([[0.6554952 , 0.66109077]])

In [75]:
np.random.seed(4) #it will not change the random array
array3=np.random.rand(1,3)
array3

array([[0.96702984, 0.54723225, 0.97268436]])